.env
.env.*
*.log

node_modules/
vendor/

.vscode/
.idea/

.DS_Store
Thumbs.db

coverage/
dist/

tmp/

*.pem
*.key
*.crt

infrastructure/logs/*
infrastructure/backup/*
!infrastructure/logs/.gitkeep
!infrastructure/backup/.gitkeep