COMPOSE_PROJECT_NAME=youmail

TZ=America/Sao_Paulo

MARIADB_IMAGE=mariadb:11.8
MARIADB_DATABASE=youmail
MARIADB_USER=youmail
MARIADB_PASSWORD=ALTERE_ESTA_SENHA
MARIADB_ROOT_PASSWORD=ALTERE_ESTA_SENHA_ROOT

REDIS_IMAGE=redis:8.2
REDIS_PASSWORD=ALTERE_ESTA_SENHA_REDIS
